.time-bomb {
  position: fixed;
  top: 44px;
  left: 0;
  bottom: 0;
  width: 318px;
  display: block;
  overflow: hidden;
}

.tb-roulette {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 58px;
  background-color: #171717;
}

.time-header {
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  height: 44px;
  border: none;
  background-color: rgba(54, 57, 63, 0.65);
  box-shadow: 0 1px 0 rgb(0 0 0 / 5%), 0 1px 3px rgb(0 0 0 / 7%);
  backdrop-filter: saturate(180%) blur(30px);
  z-index: 2004;
}

.tb-levels-rl {
  position: relative;
  padding: 12px 0 30px 0;
}

.burg {
  font-size: 23px;
  color: aliceblue;
}

.logo-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 0 8px 0;
  position: relative;
}

.th-left {
  display: flex;
  position: relative;
  padding: 5px 25px;
}

.lv-burg {
  margin: 0 20px 0 0;
}

.tlr-item {
  position: relative;
  display: flex;
  width: 58px;
  list-style: none;
  justify-content: center;
  margin: 0 0 8px 0;
}

.tlr-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.tb-circus {
  position: absolute;
  top: 0;
  left: 58px;
  right: 0;
  bottom: 53px;
  padding: 0;
  background-color: rgb(31, 32, 36);
}

.tb-profile {
  background-color: rgb(31, 32, 36);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
  height: 53px;
}

.time-scrollable {
  position: relative;
  display: block;
  margin-left: 318px;
  background-color: rgba(47, 49, 54, 1);
  height: 924px;
}

.tb-genre-block {
  padding: 18px 0 8px 0;
  margin: 0 18px;
  border-bottom: 1px solid;
}

.tbge-title-txt {
  font-size: 15px;
  line-height: 19px;
  max-width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  color: #ededed;
  font-weight: 500;
}

.tb-genre-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tbge-bnor {
  position: relative;
  width: 26px;
  flex-shrink: 0;
  margin: 1px 8px 0 0;
}

.tbge-bnor-img {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.tbge-title {
  position: relative;
  display: block;
}
.level-group-2,
.level-group-3 {
  display: none;
}

.tls-item-block-1 {
  margin: 10px 15px 1px 15px;
}
.tls-item-block-2 {
  margin: 0 15px 1px 15px;
}

.tls-item-txt {
  font-size: 25px;
  position: relative;
  align-items: center;
  color: #ededed;
  font-weight: 600;
}

.tls-label-wrap {
  padding: 0 20px;
}

.tls-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2px 0;
  align-items: center;
  color: #829297;
}

.tls-label-txt {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #829297;
}

.tls-label i {
  position: relative;
  display: inline-block;
  pointer-events: none;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  margin-bottom: 6px;
}

.tlw-list {
  position: relative;
  padding: 0 0 10px 0;
}

.tlw-item {
  position: relative;
  display: block;
  padding: 1px 0;
}

.tlw-link {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #b1b1b1;
  height: 27px;
  padding: 0 8px 0 20px;
  margin: 0 12px;
  border-radius: 4px;
}

.tlw-txt {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  white-space: nowrap;
}

.time-contents {
  position: relative;
  padding: 44px 0 0 0;
  min-height: calc(100vh - 44px);
}

.welv-cc {
  height: 880px;
}

.welv {
  display: flex;
  flex-direction: row;
  height: 880px;
}

.os-content {
  direction: inherit;
  position: relative;
  display: block;
  width: 420px;
  height: 100%;
  border-left: 1px solid rgba(39, 41, 45, 1);
  border-right: 1px solid rgba(39, 41, 45, 1);
}

.welv-grid {
  min-width: 420px;
  max-width: calc(100vw - 817px);
}

.welv-list {
  position: fixed;
  top: 44px;
  bottom: 0;
  width: inherit;
  background-color: rgba(39, 45, 51, 1);
}

.os-padding {
  box-sizing: inherit;
  direction: inherit;
  position: absolute;
  overflow: visible;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: 100%;
}

.wl-header {
  padding: 20px 0 0 0;
  height: 115px;
}

.wl-animals {
  height: 40px;
}

.wl-animals-flex {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.wl-title {
  font-size: 24px;
  color: white;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 30px;
  white-space: nowrap;
  padding: 0 20px;
}

.wl-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: 14px;
  color: white;
  font-size: 18px;
}

.wl-search {
  position: relative;
  padding: 13px 12px 0 12px;
}

.wlse-liner {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: rgba(79, 84, 92, 0.32);
  border-radius: 9px;
  height: 32px;
}

.wlse-submit {
  position: relative;
  display: flex;
  align-items: center;
  color: #72767d;
  padding: 0 10px 0 13px;
}

.wlse-input {
  position: relative;
  flex-grow: 1;
  padding-right: 10px;
}

.wlse-input input {
  position: relative;
  display: block;
  padding: 0;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #72767d;
  background: none;
  border: 0;
  outline: 0;
  letter-spacing: -1px;
}

.wlse-select {
  position: relative;
  display: block;
  height: 24px;
  width: 26px;
  margin-right: 4px;
}

.wlse-select-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5px;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: -0.3px;
  border-radius: 6px;
  color: #72767d;
}

.bsl-txt {
  display: none;
}

.wlse-select .dropdown-menu {
  top: 26px;
  right: 0px;
  min-width: 97px;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #72767d;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.dropdown-menu,
#popup_menu_area {
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  background-color: rgba(26, 26, 26, 0.94);
  border: none;
  outline: none;
  box-shadow: 0 8px 16px rgb(0 0 0 / 24%);
}

.dropdown-menu > li > a,
#popup_menu_area a {
  font-size: 13px;
  color: #b1b1b1;
  font-weight: 300;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
}

.gcard-level-1,
.gcard-level-2,
.gcard-level-3 {
  padding: 0 6px 20px 6px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 725px;
}

.gcard-pin {
  position: relative;
  display: block;
  width: 164px;
  max-width: 50%;
  flex: 1 0 auto;
  height: 242px;
}

.gcard-block {
  position: relative;
  padding: 14px 8px 0 8px;
  height: 242px;
}

.gcard-pin .pin-img-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: rgba(79, 84, 92, 0.12);
  border-radius: 6px;
}

.gcard-pin .pin-meta {
  position: relative;
  padding: 4px 0 0 1px;
}

.gcard-pin .pin-title-link {
  position: relative;
  display: block;
  padding: 1px 0;
  line-height: 18px;
  color: #b9bbb2;
  font-weight: 300;
}

.gcard-pin .pin-img-neue {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gcard-pin .pin-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  border-radius: 6px;
  background-position: center center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 10px 13px 0 rgb(0 0 0 / 11%);
}

.gcard-pin .pin-img-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gcard-level-2 {
  display: none;
}

.gcard-level-1 {
  display: none;
}

.welv-rdwd {
  flex-grow: 1;
  position: relative;
  display: block;
  width: 360px;
  height: 880px;
}

.wl-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 16px 12px 60px 12px;
  min-height: 32px;
}

.scroll {
  overflow-y: scroll;
}

.page-wrap {
  display: inline-block;
  width: 94px;
  height: 32px;
}

.select-page {
  display: flex;
  padding: 0 10px;
  height: 27px;
}

.select-page li {
  list-style: none;
  padding: 0 5px;
}

.select-page li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  line-height: 27px;
  height: 27px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #dcddde;
  user-select: none;
  min-width: 27px;
  box-sizing: border-box;
  border-radius: 15px;
}

.select-page li a.active {
  background-color: #7289da;
  color: white;
}
